[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "==1.4.*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
faker-sqlalchemy = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
